*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'PT Sans', sans-serif;
}
/* inicio*/
header{
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 800px;
    background: #59C173;  
    background: linear-gradient(to left, #ecd1777a, #d5e28c65, #c8e93354), url(../La-Deseada-Residencia-main/img/principal3.jpg); 
    background: linear-gradient(to left, #ecd1777a, #d5e28c65, #c8e93354), url(../La-Deseada-Residencia-main/img/principal3.jpg); 
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
header .textos-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.menu-navegacion{
    text-align:right ;
    padding: 30px 50px 0 0;

}
.menu-navegacion a{
    color: #0a830a;
    text-decoration: none;
    font-weight: 300;
    margin-right: 10px;
}


.titulo-header{
    color: #cc8213;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60pxu;
}
